.container-products {
    margin-top: 250px;
    position: relative;
    left: 200px;
}

.container-products h1{
    color: $accent-color;
    position: relative;
    left: 720px;
    margin-bottom: 40px;
    margin-top: 25px;
}


.card{
    margin-top: 10px;
}

