.container-products {
    position: relative;
    left: 110px;
    @include breakpoint('desktop') {
        left: 200px;
    }
    @include breakpoint('mobile'){
        left: 0px;
    }
}

.container-products  h1{
    color: $accent-color;
    right: 120px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
    text-shadow: 1px 1px 2px black;
    @include breakpoint('desktop'){
        right: 210px;
    }
    @include breakpoint('mobile'){
        left: 0px;
    }
}


.msjinsta h2{
    
    color: $accent-color;
    position: relative;
    left: 100px;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    a:hover{
        text-decoration: none;
        
    }
    @include breakpoint('desktop'){
        left: 280px;
    }
    @include breakpoint('mobile'){
        left: 0px;
        text-align: center;
    }
}
.msjinsta a{
    color: $accent-color;
}
