.form {
  
  margin: 0 auto;
  width: 500px;
  visibility: visible;
  background-color:rgba(233, 229, 229, 0.555);
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  margin-top: 150px;
  box-shadow: 3px 1px 4px black;
  font-family: $font-primary;
  @include breakpoint('mobile'){
        width: 330px;
    }
}

.backform{

    background: url(../../Img/logo-fondo-solo.png) right no-repeat ;
    background-size: 700px;
    background-position: 129% ;
    @include breakpoint ('mobile'){
        background: none;
    }
}

.backform2{

    background: url(../../Img/logo-fondo-solo.png) left no-repeat ;
    background-size: 700px;
    background-position: -29% ;
    @include breakpoint ('mobile'){
        background: none;
    }
}


