.container p {
    margin-top: 10px;
    font-family: $font-primary;
    padding: 10px;
    text-align: center;
    font-size: large;
}
.about-pic1{
     height: 750px;
    width: 100%;
    border-radius: 15px;
    @include breakpoint("mobile"){
        margin-bottom: 10px;
        margin-top: 120px;
    }


}




.about-pic{
    height: 750px;
    width: 100%;
    border-radius: 15px;
    @include breakpoint("mobile"){
        margin-bottom: 10px;
    }
}

.container img{
    @include breakpoint("mobile"){
        height: auto;
        

    }
     @include breakpoint("tablet"){
        height: auto;
    }
}