.splash{
    background: url(../../Img/flor2.JPG) top fixed ;
    width: 100%;
    height: 90vh;
    background-position: 80% 15% ;
    background-size: cover;
    margin-top: 5px;
    @include breakpoint("mobile"){
        background-position: 30% 90%;
        }
    @include breakpoint("tablet"){
        background-position: 30% 90%;
    }
    @include breakpoint("mobile-height"){
        background-position: 30% 10%;
    }


    }



.col-md-5 {
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    padding: 15px;
    position: relative;
    height: 200px;
    left: 750px;
    top: 250px;
    margin-right: auto;
    font-family: $font-primary ;   
    @include breakpoint ("mobile"){
        left: 0px;
        top: 390px;
    }
    @include breakpoint('desktop'){
        top: 400px;
        left: 900px;
    }
    @include breakpoint('tablet'){
        left: 0px;
        top: 390px;
    }
}
.btn{
    color: #FF4081;
}


.container-fluid{
    margin-left: 15px;
    width: 100px;
}


.center{
    text-align: center;
}

.space{
    padding-top: 100px;
    padding-bottom: 100px;
}
.col-md-12 h1{
    font-family: 'Alegreya Sans', sans-serif;
    color: #FF4081;
    text-shadow: 1px 1px 2px black;
    

}

.col-md-12 p{
    margin-top: 30px;
    color: #333;
    font-family: $font-primary;
    text-align: center;
}


.logo-splash{
    height: 160px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hr{
    margin-top: 0;
    border-bottom: 1px dashed #333;
    height:0 px;
    width: 40%;
}