header{
    height: 110px;
    width: 100%;
    top: 0;
    background-color: $primary-color-dark;
    box-shadow: 10px 5px 5px black;
    font-family: $font-primary ;
    font-size: x-large;
    z-index: 100;
    position: fixed;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    
}



.logo{
    height: 120px;
    width: 100px;
    padding: 10px;
    margin-left: 20px;
    margin-top: -5px;
}

nav ul {
    float:right
    
}


nav ul li {
    
    display: inline-block;
    text-decoration: none;
    padding-top: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    a:hover {
    color: $accent-color;
    text-decoration: none;
    
        
}
}

nav ul li a{
    color: $primary-color-text;
    
    margin-right: 80px;
    

}

#icon-menu {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 100px;
    right: 20px;
    top: 45px;
    margin-right: 10px;
    color: $primary-color-dark;
    display: none;
    
}

#icon-menu:hover{
    opacity: 0.8;
}

@media screen and (max-width: 1220 px){
    .header-content{
        max-width: 1000px;
        padding: 0 20px;
    }
}