header{
    height: 110px;
    width: 100%;
    top: 0;
    background-color: $primary-color-dark;
    box-shadow: 10px 5px 5px black;
    font-family: $font-primary ;
    font-size: x-large;
    z-index: 100;
    position: fixed;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    
}


#navbarsExample09{
    background-color: $primary-color-dark;
    border-radius: 15px;
    padding-top: 15px;
    margin-top: 5px;
}

#btn-toggle{
    :hover{
        color: $accent-color;
    }
}

