.courses{
  padding: 100px;
  margin-bottom: 250px;
  @include breakpoint("mobile"){
      
     padding: 0px;
      
      
      
    }
}

.courses h1{
    font-family: $font-primary;
    color: $accent-color;
    margin: 60px;
    text-shadow: 1px 1px 2px black;
    margin-left: 350px;
   
    @include breakpoint("desktop"){
      margin-left: 650px;

      
    }
    @include breakpoint("mobile"){
      margin-left: 60px;
      margin-top: 120px;
      text-align: center;
      
      
      
    }
}
.courses h2{
  color: $accent-color;
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
  
}

.text {
  font-family: $font-primary;
  @include breakpoint("mobile"){
      padding: 0px;
      margin: 0px;
      

      
    }
  
}
.caro p{
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
  
}

.caro {
  @include breakpoint('mobile'){
    margin-left: 70px;
    
  }
}
.carousel-indicators li{
  display: none;
}

.carousel{
  margin-bottom: 50px;
  @include breakpoint('mobile'){
        
        width: 450px;
        padding: 0px;
        position: absolute;
        right: 100px;
        padding: 5px;
      
    }
}