.courses{
  padding: 100px;
  margin-bottom: 250px;
  @include breakpoint("mobile"){
      padding: 10px;
    }
}

.courses h1{
    font-family: $font-primary;
    color: $accent-color;
    margin: 60px;
    text-shadow: 1px 1px 2px black;
    margin-left: 350px;
    @include breakpoint("mobile"){
      margin-top: 150px;

      
    }
}
.courses h2{
  color: $accent-color;
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
  
}

.text {
  font-family: $font-primary;
  
  
}
.caro p{
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
}

.carousel{
  margin-bottom: 50px;
}