.courses{
  padding: 100px;
  margin-bottom: 250px;
  @include breakpoint("mobile"){
      
     padding: 0px;
      
      
      
    }
}
.courses p{
  text-align: center;
}
.courses h1{
    font-family: $font-primary;
    color: $accent-color;
    margin: 60px;
    text-shadow: 1px 1px 2px black;
    margin-left: 360px;
   
    @include breakpoint("desktop"){
      margin-left: 650px;

      
    }
    @include breakpoint("mobile"){
      margin-left: 60px;
      margin-top: 120px;
      text-align: center;
      
      
      
    }
}
.courses h2{
  color: $accent-color;
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
  
}

.text {
  font-family: $font-primary;
  @include breakpoint("mobile"){
      padding: 0px;
      margin: 0px;
      

      
    }
  
}
.caro p{
  font-family: $font-primary;
  text-shadow: 1px 1px 2px black;
  
}

.caro {
  @include breakpoint('mobile'){
    position: relative;
    top: 45px;
    
  }
}
.carousel-indicators li{
  display: none;
}

.carousel{
  margin-bottom: 50px;
  @include breakpoint('mobile'){
        
        width: 100%;
        padding: 0px;
        position: absolute;
        
        padding: 5px;
      
    }
}
.titlecur{
  position: relative;
  left: 60px;
  @include breakpoint('mobile'){
    left: 0px;
    
  }
}





h3{
  color: $accent-color;
  font-family: $font-primary;
  position: absolute;
  left: 80px;
  padding: 15px;
}

.cursos{
  display: flex;
  flex-direction: row; 
  position: relative ;
  left: 350px;
  @include breakpoint('tablet'){
    left: 100px;
  }
  @include breakpoint('mobile'){
    left: 20px;
    flex-direction: column;
    
  }
}

.cards{
  margin-right: 30px;
  border-radius: 45%;
  box-shadow: 5px 6px 3px black;
  @include breakpoint('mobile'){
    margin-top: 15px;
    
  }
}

.btncards{
  :hover{
  box-shadow: 10px 5px 5px black;}
}