.col-md-2:hover {
    transform: scale(1.1);
    
}

.col-md-2{
    margin-left: 5px;
    margin-top: 15px ;
    border-radius: 5px;
    left: 100px;
    padding: 50px;
    padding-bottom: 10px;
    @include breakpoint("mobile"){
        margin-right: 50px;        
        
    }
    @include breakpoint("tablet"){
        left: 25px;
        padding: 10px;
    }
    
}



.titulo {
    
    color: $accent-color;
    text-align: center;
    font-family: $font-primary;
    margin: 15px;
    padding-top: 50px;
    text-shadow: 1px 1px 2px black;
    
    }

